@import 'utils/vars';
@import 'utils/reset';
@import 'common/buttons';


* {
    box-sizing: border-box;
}

html {
    line-height: $mainLineHeight;
    font-size: $mainFontSize;
    color: $mainFontColor;
    height: 100%;
    @media screen and(max-width: $desctopWidth){
        font-size: 16px;
    }
    @media screen and(max-width: $tableWidth){
        font-size: 15px;
    }
    @media screen and(max-width: $smPhoneWidth){
        font-size: 15px;
    }
}

body {
    font-family: $mainFont;
    font-size: $mainFontSize;
    font-weight: $mainFontWeight;
    background-color: $border-lighter;
   
}

input, textarea, select, button {
    border: 1px solid $border-base;
}
input, textarea {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin: 10px;
}
a {text-decoration: none;}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section, .section {
    position: relative;
    padding: 40px 0;
    // @media screen and (max-width: )
}
h1, h2, h3, p {
    margin: 0;
}
.wrapper-content {
    display: flex;
    justify-content: center;
}