$mainFont: 'Montserrat', sans-serif;

$mainFontColor: #101010;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desctopWidth: 1280px;
$smDesctopWidth: 980px;
$tableWidth: 480px;
$smPhoneWidth: 320px;

$mainFontColor: #333;
$default-color: #fff;
$primary-color: #444ce0;
$success-color: #26de81;
$dander-color: #fc5c65;
$warning-color: #fed330;
$light-color: #999;
$purple-color: #8854d0;


// color n

$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-secondary: #C0C4CC;

// border

$border-base: #DCDFE6;
$border-lightex: #F2F6FC;
$border-light: #E4E7ED;
$border-lighter: #EBEEF5;